# Корреляция Пирсона, Спирмена, Мэтьюса (для биномиальных) и Крамера (для категориальных признаков)

In [1]:
import pandas as pd
import numpy as np

С помощью каких из этих величин по данным социологического опроса можно оценить силу взаимосвязи между возрастом (в годах) и средним годовым доходом (в рублях)?

v Коэффициент корреляции Спирмена (Так мы измерим силу монотонной взаимосвязи между нашими непрерывными признаками)
v Коэффициент корреляции Пирсона (Так мы измерим силу линейной взаимосвязи между нашими непрерывными признаками)

С помощью каких из этих величин по данным социологического опроса можно оценить силу взаимосвязи между полом и семейным положением (холост/в браке/в разводе)?
 v Коэффициент V Крамера (случай категориальных признаков)
 - Разность между средними долями женатых среди мужчин и среди женщин (Такая оценка смешивает холостых и разведённых, чак что часть информации теряется)

С помощью каких из этих величин по данным социологического опроса можно оценить силу взаимосвязи между средним годовым доходом (в рублях) и наличием водительских прав (есть/нет)?
- Коэффициент корреляции Мэтьюса (Нельзя, один из признаков непрерывный)
v Разность между средними доходами водителей и не-водителей

Есть ли связь между неграмотностью и рождаемостью? Для 94 стран, уровень неграмотности женщин в которых больше 5%, известны доля неграмотных среди женщин старше 15 (на 2003 год) и средняя рождаемость на одну женщину (на 2005 год).

illiteracy.txt
Чему равен выборочный коэффициент корреляции Пирсона между этими двумя признаками? Округлите до четырёх знаков после десятичной точки.

In [14]:
illiteracy=pd.read_csv('illiteracy.csv', sep = '\t', header = 0)

In [16]:
illiteracy.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [18]:
illiteracy_birth_correlation = illiteracy.corr()

In [19]:
illiteracy_birth_correlation.head()

           Illit    Births
Illit   1.000000  0.768663
Births  0.768663  1.000000

In [20]:
illiteracy_birth_correlation_pearson=illiteracy.corr(method='pearson')

In [21]:
illiteracy_birth_correlation_pearson.head()

           Illit    Births
Illit   1.000000  0.768663
Births  0.768663  1.000000

In [23]:
illiteracy_birth_correlation_spearman=illiteracy.corr(method='spearman')

In [24]:
illiteracy_birth_correlation_spearman.head()

           Illit    Births
Illit   1.000000  0.752962
Births  0.752962  1.000000

Корреляционный анализ

10 questions

Для 61 большого города в Англии и Уэльсе известны средняя годовая смертность на 100000 населения (по данным 1958–1964) и концентрация кальция в питьевой воде (в частях на маллион). Чем выше концентрация кальция, тем жёстче вода. Города дополнительно поделены на северные и южные.

water.txt
Есть ли связь между жёсткостью воды и средней годовой смертностью? Посчитайте значение коэффициента корреляции Пирсона между этими признаками, округлите его до четырёх знаков после десятичной точки.

In [26]:
data=pd.read_csv('water.csv', sep = '\t', header = 0)

In [27]:
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [28]:
data[['mortality', 'hardness']].corr()

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

2. 
В предыдущей задаче посчитайте значение коэффициента корреляции Спирмена между средней годовой смертностью и жёсткостью воды. Округлите до четырёх знаков после десятичной точки.

In [37]:
data[['mortality', 'hardness']].corr(method='spearman')

           mortality  hardness
mortality   1.000000 -0.631665
hardness   -0.631665  1.000000

3 Сохраняется ли связь между признаками, если разбить выборку на северные и южные города? Посчитайте значения корреляции Пирсона между средней годовой смертностью и жёсткостью воды в каждой из двух подвыборок, введите наименьшее по модулю из двух значений, округлив его до четырёх знаков после десятичной точки.

In [36]:
data[data['location']=='North'].corr()

           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000

In [33]:
data[data['location']=='South'][['mortality', 'hardness']].corr()

           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000

In [39]:
data[data['location']=='North'][['mortality', 'hardness']].corr()

           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000

4.Среди респондентов General Social Survey 2014 года хотя бы раз в месяц проводят вечер в баре 203 женщины и 239 мужчин; реже, чем раз в месяц, это делают 718 женщин и 515 мужчин.

Посчитайте значение коэффициента корреляции Мэтьюса между полом и частотой похода в бары. Округлите значение до трёх знаков после десятичной точки.

Используем таблицу сопряженности

$X_1$ \ $X_2$ | 0| 1 | 
  ------------- | -------------|
  0  | a | b | 
  1  | c | d |

In [42]:
a=203 
c=718
b=239
d=515
MCC=(a*d-b*c)/np.sqrt((a+b)*(a+c)*(b+d)*(c+d))

In [43]:
MCC

-0.10900237458678963

5.В предыдущей задаче проверьте, значимо ли коэффициент корреляции Мэтьюса отличается от нуля. Посчитайте достигаемый уровень значимости; используйте функцию scipy.stats.chi2_contingency. Введите номер первой значащей цифры (например, если вы получили 5.5×10−8, нужно ввести 8).

In [44]:
from scipy.stats import chi2_contingency

In [45]:
chi2_contingency([ [ a, b ], [ c, d ] ])

(19.407530788543038,
 1.0558987006638725e-05,
 1,
 array([[ 243.03402985,  198.96597015],
        [ 677.96597015,  555.03402985]]))

6.В предыдущей задаче давайте попробуем ответить на немного другой вопрос: отличаются ли доля мужчин и доля женщин, относительно часто проводящих вечера в баре? Постройте 95% доверительный интервал для разности долей, вычитая долю женщин из доли мужчин. Чему равна его нижняя граница? Округлите до четырёх знаков после десятичной точки.

In [46]:
from statsmodels.stats.proportion import proportion_confint

In [49]:
import scipy
from statsmodels.stats.weightstats import *
from statsmodels.stats.proportion import proportion_confint

In [50]:
def proportions_confint_diff_ind(sample1, sample2, alpha = 0.05):  # from C4W1  
    z = scipy.stats.norm.ppf(1 - alpha / 2.)   
    p1 = float(sum(sample1)) / len(sample1)
    p2 = float(sum(sample2)) / len(sample2)
    
    left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    
    return (left_boundary, right_boundary)

In [51]:
x1 = np.zeros(a+c)
x1[:c] = 1.0
x2 = np.zeros(b+d)
x2[:d] = 1.0

In [52]:
print ("confidence interval: [%f, %f]" % proportions_confint_diff_ind(x1, x2))

confidence interval: [0.053905, 0.139222]

Task 7. Проверьте гипотезу о равенстве долей любителей часто проводить вечера в баре среди мужчин и женщин. Посчитайте достигаемый уровень значимости, используя двустороннюю альтернативу. Введите номер первой значащей цифры (например, если вы получили 5.5×10−8, нужно ввести 8).

In [53]:
def proportions_diff_z_stat_ind(sample1, sample2):
    n1 = len(sample1)
    n2 = len(sample2)
    
    p1 = float(sum(sample1)) / n1
    p2 = float(sum(sample2)) / n2 
    P = float(p1*n1 + p2*n2) / (n1 + n2)
    
    return (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

In [54]:
def proportions_diff_z_test(z_stat, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - scipy.stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return scipy.stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - scipy.stats.norm.cdf(z_stat)

In [55]:
print ("p-value: %f" % proportions_diff_z_test(proportions_diff_z_stat_ind(x1, x2)))

p-value: 0.000008

Task 8
Посмотрим на данные General Social Survey 2014 года и проанализируем, как связаны ответы на вопросы "Счастливы ли вы?" и "Довольны ли вы вашим финансовым положением?"

                Не 	   Более или  Доволен
                доволен	 менее	
Не очень счастлив  197	   111	    33
Достаточно счастлив	382	    685	    331
Очень счастлив	   110	   342	   333
Чему равно значение статистики хи-квадрат для этой таблицы сопряжённости? Округлите ответ до четырёх знаков после десятичной точки.

In [57]:
chi2_contingency([ [197, 111, 33],
                   [382, 685, 331],
                   [110, 342, 333]])

(293.68311039689746,
 2.4964299580093467e-62,
 4,
 array([[  93.08597464,  153.74722662,   94.16679873],
        [ 381.6251981 ,  630.318542  ,  386.0562599 ],
        [ 214.28882726,  353.93423138,  216.77694136]]))

In [ ]:
x1 = np.zeros(a+c)
x1[:c] = 1.0
x2 = np.zeros(b+d)
x2[:d] = 1.0

In [ ]:
print ("confidence interval: [%f, %f]" % proportions_confint_diff_ind(x1, x2,x3))

10 
Чему в предыдущей задаче равно значение коэффициента V Крамера для рассматриваемых признаков? Округлите ответ до четырёх знаков после десятичной точки.

In [58]:
np.sqrt(293.68311039689746/(2*2524))

0.2412013934500338