# Корреляция Пирсона, Спирмена, Мэтьюса (для биномиальных) и Крамера (для категориальных признаков)

In [1]:
import pandas as pd
import numpy as np

С помощью каких из этих величин по данным социологического опроса можно оценить силу взаимосвязи между возрастом (в годах) и средним годовым доходом (в рублях)?

v Коэффициент корреляции Спирмена (Так мы измерим силу монотонной взаимосвязи между нашими непрерывными признаками)
v Коэффициент корреляции Пирсона (Так мы измерим силу линейной взаимосвязи между нашими непрерывными признаками)

С помощью каких из этих величин по данным социологического опроса можно оценить силу взаимосвязи между полом и семейным положением (холост/в браке/в разводе)?
 v Коэффициент V Крамера (случай категориальных признаков)
 - Разность между средними долями женатых среди мужчин и среди женщин (Такая оценка смешивает холостых и разведённых, чак что часть информации теряется)

С помощью каких из этих величин по данным социологического опроса можно оценить силу взаимосвязи между средним годовым доходом (в рублях) и наличием водительских прав (есть/нет)?
- Коэффициент корреляции Мэтьюса (Нельзя, один из признаков непрерывный)
v Разность между средними доходами водителей и не-водителей

Есть ли связь между неграмотностью и рождаемостью? Для 94 стран, уровень неграмотности женщин в которых больше 5%, известны доля неграмотных среди женщин старше 15 (на 2003 год) и средняя рождаемость на одну женщину (на 2005 год).

illiteracy.txt
Чему равен выборочный коэффициент корреляции Пирсона между этими двумя признаками? Округлите до четырёх знаков после десятичной точки.

In [14]:
illiteracy=pd.read_csv('illiteracy.csv', sep = '\t', header = 0)

In [16]:
illiteracy.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [18]:
illiteracy_birth_correlation = illiteracy.corr()

In [19]:
illiteracy_birth_correlation.head()

           Illit    Births
Illit   1.000000  0.768663
Births  0.768663  1.000000

In [20]:
illiteracy_birth_correlation_pearson=illiteracy.corr(method='pearson')

In [21]:
illiteracy_birth_correlation_pearson.head()

           Illit    Births
Illit   1.000000  0.768663
Births  0.768663  1.000000

In [23]:
illiteracy_birth_correlation_spearman=illiteracy.corr(method='spearman')

In [24]:
illiteracy_birth_correlation_spearman.head()

           Illit    Births
Illit   1.000000  0.752962
Births  0.752962  1.000000